# Mongo
MONGO_URI=mongodb://mongo:27017/gdash

# RabbitMQ
RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672/
RABBITMQ_QUEUE=weather_logs

# API
API_PORT=3000
JWT_SECRET=super-secret-key
DEFAULT_ADMIN_EMAIL=admin@gdash.io
DEFAULT_ADMIN_PASSWORD=123456
OPENAI_API_KEY=sk-xxxx

# Collector
COLLECTOR_CITY=São Paulo
COLLECTOR_LAT=-23.55
COLLECTOR_LON=-46.63
COLLECTOR_INTERVAL_CRON=*/30 * * * *
OPEN_METEO_BASE_URL=https://api.open-meteo.com/v1/forecast

# Worker
API_BASE_URL=http://api:3000
WORKER_RETRY_MAX=5


